body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background: black; /* sua cor favorita */
    color: white;
    padding: 40px;
    text-align: center;
}

.bio {
    max-width: 600px;
    margin: 20px auto;
    font-size: 1.1em;
}

/* Seções */
section {
    padding: 30px;
}

h2, h3 {
    color: #222;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Galeria */
.galeria {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.galeria img {
    width: 200px;
    border-radius: 10px;
    border: 3px solid #444;
}

/* Rodapé */
footer {
    background: #000;
    color: #ccc;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
